---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    {{ page.date | date: "%Y.%m.%d" }}
  </div>

  <div id="gitmentContainer"></div>
  <link rel="stylesheet" href="https://jjeejj.github.io/css/gitment.css">
  <script src="https://jjeejj.github.io/js/gitment.js"></script>
  <script>
  var gitment = new Gitment({
      owner: 'wqwdr',
      repo: 'https://wqwdr.github.io/',
      oauth: {
          client_id: 'e2c88e199f4e5d41cfd2',
          client_secret: 'd2acd7f6e07b8d7203348d84c34c6289c2dfbc92',
      },
  });
gitment.render('gitmentContainer');
</script>
  {% include disqus.html %}
</article>
